<style>
  .item-title {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.25em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-size: 1.25em;
  }

  .item-wrapper {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 10px 5px;
    padding: 1em 1em 1.5em 1em;
    border-radius: 0.35rem;
    border: 1px solid rgba(34,36,38,.15);
    min-width: 45%;
  }

  .OUcontainer {
    padding: 0px 10px;
    display: block;
    margin: 30px 10px 10px 10px;
    max-width: 100%;
    align-items: center;
  }

  .page-title {
    display: flex;
    font-size: 3em;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 30px
  }

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 720px) {
      flex-direction: column;
      min-width: 100%;
    }
  }

  .blue-500 { 
    background: #070f4e; 
    color: white;
    margin: 0px 5px 0px 0px;
  }
    
  .blue-500:hover {
    background: #383e71;
    color: white;
  }

  .blue-300 { 
    background: #2772db; 
    color: white;
  }

  .blue-300:hover { 
    background: #174483; 
    color: white;
  }

  .blue-100 { 
    background: #3ab1c8;
    color: #070f4e;
  }

  .blue-100:hover {
    background: #2e8da0;
    color: #070f4e;
  }

  .gray { 
    background: #f5ebeb;
    color: #494646;
  }

  .gray:hover {
    background: #c4bcbc;
    color: #494646;
  }

  .OUbutton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .78571429em 1.5em 0.78571429em;

    a:hover {
      color: unset;
    }
  }

</style>

