<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overpackers Unite</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    {% include "partials/styles.jinja" %}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="OUcontainer">
      <h1 class="page-title">Overpackers Unite</h1>
      <form class="ui form" action="/add-item" method="post">
        <div class="field">
          <label for="title" style="font-size: 1.25em">Add New Item</label>
          <input
            type="text"
            name="title"
            style="margin: 2px 0px -17px 0px"
          /><br /><br />
          <button class="blue-300 OUbutton" type="submit">Add Item</button>
        </div>
      </form>
      <br />
      <form class="ui form" action="/add-todo" method="post">
        <div class="field">
          <label for="title" style="font-size: 1.25em">Add New Task</label>
          <input
            type="text"
            name="title"
            style="margin: 2px 0px -17px 0px"
          /><br /><br />
          <button class="blue-300 OUbutton" type="submit">Add Task</button>
        </div>
      </form>
      <br />
      <h2 style="font-size: 1.25em">Task List</h2>
      <div class="list-wrapper">
        {% if todo_list == []%}
        <span>No tasks have been added yet.</span>
        {% endif %} {% for todo in todo_list %}
        <div class="item-wrapper">
          <span class="item-title"> {{ todo.title }} </span>
          <br />
          {% if todo.necessary == False %}
          <span>Status: Not Necessary</span>
          <br />
          <br />
          <a
            role="button"
            class="gray OUbutton"
            href="/toggle_necessary/{{ todo.id }}"
          >
            Task Necessary After All
          </a>
          <span style></span>
          <a style="color: white" href="/delete-task/{{ todo.id }}">Delete</a>
          {% elif todo.complete == False %}
          <span>Status: Necessary | Not Yet Complete</span>
          <br /><br />
          <span
            ><a
              class="blue-500 OUbutton"
              href="/toggle_necessary/{{ todo.id }}"
              role="button"
            >
              Task Unnecessary
            </a>
          </span>
          <a
            class="blue-100 OUbutton"
            href="/toggle_complete/{{ todo.id }}"
            role="button"
          >
            Task Completed
          </a>
          <a style="color: white" href="/delete-task/{{ todo.id }}">Delete</a>
          {% else %}
          <span>Status: Completed</span>
          <br /><br />
          <a
            class="blue-300 OUbutton"
            href="/toggle_complete/{{ todo.id }}"
            role="button"
          >
            Mark Task Incomplete
          </a>
          <a style="color: white" href="/delete-task/{{ todo.id }}">Delete</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <h2 style="font-size: 1.25em">Packing List</h2>
      <div class="list-wrapper">
        {% for item in item_list %}
        <div class="item-wrapper">
          <span class="item-title"> {{ item.title }} </span>
          <br />
          {% if item.needed == False %}
          <span>Status: Not Needed</span>
          <br />
          <br />
          <a
            role="button"
            class="gray OUbutton"
            href="/toggle_needed/{{ item.id }}"
          >
            Item Needed After All
          </a>
          <span style></span>
          <a style="color: white" href="/delete-item/{{ item.id }}">Delete</a>
          {% elif item.packed == False %}
          <span>Status: Needed | Not Yet Packed</span>
          <br /><br />
          <span
            ><a
              class="blue-500 OUbutton"
              href="/toggle_needed/{{ item.id }}"
              role="button"
            >
              Don't Need Item
            </a>
          </span>
          <a
            class="blue-100 OUbutton"
            href="/toggle_packed/{{ item.id }}"
            role="button"
          >
            Pack Item
          </a>
          <a style="color: white" href="/delete-item/{{ item.id }}">Delete</a>
          {% else %}
          <span>Status: Packed</span>
          <br /><br />
          <a
            class="blue-300 OUbutton"
            href="/toggle_packed/{{ item.id }}"
            role="button"
          >
            Unpack Item
          </a>
          <a style="color: white" href="/delete-item/{{ item.id }}">Delete</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
