<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overpackers Unite</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    {% include "partials/styles.jinja" %}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div style="margin-top: 50px" class="ui container">
      <h1 class="page-title">Overpackers Unite</h1>
      <form class="ui form" action="/add" method="post">
        <div class="field">
          <label for="title" style="font-size: 1.25em">Add New Item</label>
          <input type="text" name="title" /><br />
          <button class="navy OUbutton" type="submit">Add</button>
        </div>
      </form>
      <br />
      {% for item in item_list %}
      <!-- <br /> -->
      <div class="ui segment">
        <span class="ui big header"> {{ item.title }} </span>
        <br />
        {% if item.needed == False %}
        <span>Status: Not Needed</span>
        <br />
        <br />
        <a
          role="button"
          class="ui gray button"
          href="/toggle_needed/{{ item.id }}"
        >
          Item Needed After All
        </a>
        <span style></span>
        <a style="color: white" href="/delete/{{ item.id }}">Delete</a>
        {% elif item.packed == False %}
        <span>Status: Needed | Not Yet Packed</span>
        <br /><br />
        <span
          ><a
            class="navy OUbutton"
            href="/toggle_needed/{{ item.id }}"
            role="button"
          >
            Don't Need Item
          </a>
        </span>
        <a
          class="ui purple button"
          href="/toggle_packed/{{ item.id }}"
          role="button"
        >
          Pack Item
        </a>
        <a style="color: white" href="/delete/{{ item.id }}">Delete</a>
        {% else %}
        <span>Status: Packed</span>
        <br /><br />
        <a
          class="ui green button"
          href="/toggle_packed/{{ item.id }}"
          role="button"
        >
          Unpack Item
        </a>
        <a style="color: white" href="/delete/{{ item.id }}">Delete</a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
